@using Nop.Services.Discounts
@using Nop.Services.Media
@using Nop.Core.Domain.Media
@using Nop.Core.Domain.Discounts
@using Nop.Services.Seo
@inject IDiscountService _discountService
@inject IPictureService _pictureService
@inject MediaSettings mediaSetting
@inject IUrlRecordService _urlRecordService

@{
    IList<Discount> discount = _discountService.GetAllDiscountsAsync(discountType: DiscountType.AssignedToManufacturers, endDateUtc: DateTime.Now).Result.Where(x => x.DisplayOnHomePage).ToList();
    List<Discount> discountsOther = discount.ToList();
    List<Discount> discountsBestDeal = discount.Where(x => x.IsBestDeal && !x.IsHotDeal).ToList();
    List<Discount> discountsHotDeal = discount.Where(x => x.IsHotDeal && !x.IsBestDeal).ToList();
}
<!--Best Deals-->
@if (discountsBestDeal.Count > 0)
{
    <section class="pt-3 pb-2">
        <div class="container">
            <div class="product-wrapper row mb-2 pb-2 appear-animate" data-animation-options="{'name': 'fadeIn'}">
                <div class="col-xs-1 col-lg-1 mb-1"></div>
                <div class="col-xs-10 col-lg-10 mb-2">
                    <div class="pos_title"><h2>BEST DEALS<span>WOMANCART</span></h2></div>

                    <div class="row grey-section" style="background-color:#f1e1dd;">
                        <div class="col-lg-5 col-md-5" style="background-image: url(/lib/Client/images/wcoffer1.png); background-position: center; background-size: cover;"></div>
                        <!--<div class="col-lg-5 col-md-5" align="center">
                        <img src="/lib/Client/images/wcoffer.png" width="200">
                        </div>-->
                        <div class="col-lg-7 col-md-7 mb-4" style="margin-top:2rem;">
                            <div class="owl-carousel owl-theme owl-nav-inner row cols-xl-4 cols-lg-3 cols-2 h-100"
                                 data-owl-options="{
'nav': true,
'dots': false,
'loop': true,
'margin': 20,
'items': 1,
'autoplay': true,
'autoplayTimeout': 3000,
'responsive': {
'0': {
'items': 2.5
},
'576': {
'items': 2.5
},
'992': {
'items': 3
},
'1200': {
'items': 3.5
}
}
}">
                                @foreach (var item in discountsBestDeal)
                                {
                                    string SeName = string.Empty;
                                    int EntityId = 0;
                                    string EntityName = string.Empty;
                                    (EntityId,EntityName) = _discountService.GetEntityIdByDiscountIdAsync(discountId: item.Id).Result;
                                    SeName = _urlRecordService.GetActiveSlugAsync(EntityId, EntityName, 0).Result;
                                    Picture _;
                                    var picture = await _pictureService.GetPictureByIdAsync(item.PictureId);
                                    string fullSizeImageUrl, imageUrl;

                                    (fullSizeImageUrl, picture) = await _pictureService.GetPictureUrlAsync(picture);
                                    (imageUrl, _) = await _pictureService.GetPictureUrlAsync(picture, mediaSetting.ManufacturerThumbPictureSize);

                                    var pictureModel = new PictureModel
                                    {
                                        FullSizeImageUrl = fullSizeImageUrl,
                                        ImageUrl = imageUrl
                                    };


                                    <div class="product-wrap mb-0">
                                        <div class="product product-border text-center">
                                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                                <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                    <figure class="category-media">
                                                        <img src="@pictureModel.ImageUrl" alt="@pictureModel.AlternateText" title="@pictureModel.Title" />
                                                    </figure>
                                                </a>
                                                <div class="category-content">
                                                    <h4 class="category-name font-weight-bold ls-l">
                                                        @if (item.UsePercentage)
                                                        {
                                                            <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                                @Html.Raw(item.DiscountPercentage) Upto @item.MaximumDiscountAmount
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                    <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                        @Html.Raw(Math.Round(item.DiscountAmount)) Upto @Html.Raw(Math.Round(item.MaximumDiscountAmount.Value)  )
                                                    </a>
                                                        }
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!--Featured Product-->
@await Component.InvokeAsync("HomepageProducts")
<!--wc offer-->
@if (discountsOther.Count > 0)
{

    <section class="pt-1 mt-1 appear-animate" data-animation-options="{'delay': '.3s'}">
        <div class="container">
            <div class="row">
                <div class="col-xs-1 col-lg-1">&nbsp;</div>
                <div class="col-xs-10 col-lg-10">
                    <div class="pos_title">
                        <h2>OFFERS<span>WOMANCART</span></h2>
                    </div>
                    <div class="row">
                        @foreach (var item in discountsOther)
                        {
                            string SeName = string.Empty;
                            int EntityId = 0;
                            string EntityName = string.Empty;
                            (EntityId, EntityName) = _discountService.GetEntityIdByDiscountIdAsync(discountId: item.Id).Result;
                            SeName = _urlRecordService.GetActiveSlugAsync(EntityId, EntityName, 0).Result; Picture _;
                            var picture = await _pictureService.GetPictureByIdAsync(item.PictureId);
                            string fullSizeImageUrl, imageUrl;

                            (fullSizeImageUrl, picture) = await _pictureService.GetPictureUrlAsync(picture);
                            (imageUrl, _) = await _pictureService.GetPictureUrlAsync(picture, mediaSetting.ManufacturerThumbPictureSize);

                            var pictureModel = new PictureModel
                            {
                                FullSizeImageUrl = fullSizeImageUrl,
                                ImageUrl = imageUrl
                            };
                            <div class="col-xs-6 col-lg-6 mb-4">
                                <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                    <a href="@Url.RouteUrl(new { SeName = SeName })">
                                        <figure class="category-media">
                                            <img src="@pictureModel.ImageUrl" alt="@pictureModel.AlternateText" title="@pictureModel.Title" />
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!--BEAUTY BONANZA-->
<section class="container mt-2 pt-2 mb-2 pb-2">
    <div class="row">
        <div class="col-xs-1 col-lg-1">&nbsp;</div>
        <div class="col-xs-10 col-lg-10">
            <div class="banner banner-radius banner-simple appear-animate" data-animation-options="{'name': 'fadeIn'}">
                <div class="banner-content">
                    <h4 class="banner-subtitle font-secondary font-weight-semi-bold text-uppercase ls-m mb-md-0 p-relative">
                        <span class="p-relative">Beauty Bonanza</span>
                    </h4>
                    <h3 class="banner-title font-secondary font-weight-normal text-white text-uppercase mb-6 mb-md-0 font-italic">
                        <span><strong class="mr-10 pr-10">Get Your Daily Dose of Amazing Deals</strong></span>
                    </h3>
                    <a href="#" class="btn btn-white btn-rounded mr-8 ml-6 ml-md-0 mb-6 mb-md-0">Shop Now<i class="d-icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Best seller wc-->

@await Component.InvokeAsync("HomepageBestSellers")


<!--HOT DEAL-->
@if (discountsHotDeal.Count > 0)
{
    <section class="pb-2">
        <div class="container mt-6">
            <div class="product-wrapper row mb-2 pb-2 appear-animate" data-animation-options="{'name': 'fadeIn'}">
                <div class="row">
                    <div class="col-xs-1 col-lg-1">&nbsp;</div>
                    <div class="col-xs-10 col-lg-10">
                        <div class="row">
                            <div class="pos_title"><h2>HOT DEALS<span>WOMANCART</span></h2></div>
                            <div class="col-xl-6col4 col-lg-12 col-md-12 mb-4">
                                <div class="owl-carousel owl-theme owl-nav-inner row cols-xl-4 cols-lg-3 cols-2 h-100"
                                     data-owl-options="{
'nav': false,
'dots': false,
'margin': 20,
'loop': true,
'items': 1,
'autoplay': true,
'autoplayTimeout': 3000,
'responsive': {
'0': {
'items': 2
},
'576': {
'items': 2
},
'992': {
'items': 3
},
'1200': {
'items': 3
}
}
}">
                                    @foreach (var item in discountsHotDeal)
                                    {
                                        string SeName = string.Empty;
                                        int EntityId = 0;
                                        string EntityName = string.Empty;
                                        (EntityId, EntityName) = _discountService.GetEntityIdByDiscountIdAsync(discountId: item.Id).Result;
                                        SeName = _urlRecordService.GetActiveSlugAsync(EntityId,EntityName,0).Result;
                                        Picture _;
                                        var picture = await _pictureService.GetPictureByIdAsync(item.PictureId);
                                        string fullSizeImageUrl, imageUrl;

                                        (fullSizeImageUrl, picture) = await _pictureService.GetPictureUrlAsync(picture);
                                        (imageUrl, _) = await _pictureService.GetPictureUrlAsync(picture, mediaSetting.ManufacturerThumbPictureSize);

                                        var pictureModel = new PictureModel
                                        {
                                            FullSizeImageUrl = fullSizeImageUrl,
                                            ImageUrl = imageUrl
                                        };



                                    <div class="product-wrap mb-0">
                                        <div class="product product-border text-center">
                                            <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                                                <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                    <figure class="category-media">
                                                        <img src="@pictureModel.ImageUrl" alt="@pictureModel.AlternateText" title="@pictureModel.Title" />
                                                    </figure>
                                                </a>
                                                <div class="category-content">
                                                    <h4 class="category-name font-weight-bold ls-l">
                                                        @if (item.UsePercentage)
                                                        {
                                                            <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                                @Html.Raw(item.DiscountPercentage) Upto @item.MaximumDiscountAmount
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.RouteUrl(new { SeName = SeName })">
                                                                @Html.Raw(item.DiscountAmount) Upto @item.MaximumDiscountAmount
                                                            </a>
                                                        }
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}