@using Nop.Services.Catalog
@inject ICategoryService catelogservice
@inject IProductService _productService
@inject Nop.Core.IStoreContext _storeContext
@inject Nop.Web.Factories.IProductModelFactory _productModelFactory
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var storeId = (await _storeContext.GetCurrentStoreAsync()).Id;
    var products = await _productService.GetProductsMarkedAsNewAsync(storeId);
    var model = (await _productModelFactory.PrepareProductOverviewModelsAsync(products)).ToList();
}
@if (model.Count > 0)
{
    <div class="container">
        <div class="flashnew-slide owl-carousel">
            <div class="col-12">
                <div class="card collection-card text-center">
                    <a class="shadow-sm" href="products.php"><img src="/lib/ClientM/img/fs/0.jpg" alt=""></a>
                </div>
            </div>
            @foreach (var product in model)
            {

                <div class="col-12">
                    <div class="card collection-card text-center">
                        <a class="shadow-sm" href="@Url.RouteUrl("Product", new { SeName = product.SeName })" title="@product.DefaultPictureModel.Title">
                            <img alt="@product.DefaultPictureModel.AlternateText" src="@product.DefaultPictureModel.ImageUrl" title="@product.DefaultPictureModel.Title" />
                        </a>
                    </div>
                </div>
            }
        </div>
       
    </div>
   
}


