@model Nop.Plugin.Misc.FreeProduct.Models.FreeProductRequirementModel
@using Nop.Plugin.Misc.FreeProduct.Services
@inject Nop.Core.IWebHelper webHelper
@inject IFreeProductManager freeDiscountManager
@{
    Layout = "_ConfigurePlugin";
    var returnUrl = webHelper.GetRawUrl(Context.Request);

    var discounts = await freeDiscountManager.DiscountList();
    var products = await freeDiscountManager.ProducrList();
    List<SelectListItem> selectListDiscountItems = new List<SelectListItem>();
    List<SelectListItem> selectListProductsItems = new List<SelectListItem>();

    foreach (var item in discounts)
    {
        if (item.Id == Model.DiscountId)
        {
            selectListDiscountItems.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString(), Selected = true });
        }
        else
        {
            selectListDiscountItems.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString() });

        }

    }
    foreach (var item in products)
    {
        if (item.Id == Model.ProductId)
        {
            selectListProductsItems.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString(), Selected = true });
        }
        else
        {
            selectListProductsItems.Add(new SelectListItem { Text = item.Name, Value = item.Id.ToString() });

        }

    }

}
<script nop-location="Footer">
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
@await Component.InvokeAsync("StoreScopeConfiguration")

<div class="cards-group">
    <div class="card card-default">
        <div class="card-body">

            <div class="container">
                <a href="@Url.Action(controller:"FreeProducts",action:"Index")"><i class="glyphicon glyphicon-backward"></i>Back to List</a>
                <form asp-controller="FreeProducts" asp-action="Save" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        @Html.HiddenFor(x => x.Id)

                        <div class="col-md-3">
                            <nop-label asp-for="ProductId" />
                        </div>
                        <div class="col-md-9">

                            <select id="ProductId" name="ProductId" class="form-control selectpicker" data-live-search="true">
                                <option>Select Product</option>
                                @foreach (var item in products)
                                {
                                    if (item.Id == Model.ProductId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>

                            <span asp-validation-for="ProductId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="DiscountId" />
                        </div>
                        <div class="col-md-9">
                            <select id="DiscountId" name="DiscountId" class="form-control selectpicker" data-live-search="true">
                                <option>Select Discount</option>
                                @foreach (var item in discounts)
                                {
                                    if (item.Id == Model.DiscountId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="ProductId"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="FreeQuantity" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="FreeQuantity" />
                            <span asp-validation-for="FreeQuantity"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Published" />
                            <span asp-validation-for="Published"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="From" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="From" />
                            <span asp-validation-for="From"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="To" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="To" />
                            <span asp-validation-for="To"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-offset-9">
                            <input type="submit" value="SaveSettings" class="btn btn-success" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("select").select2();
        $("form").submit(function () {
            var IsValid = true;
            if ($("#From").val() == "") {


                if ($("#To").val() == "") {

                    var date1 = +new Date($("#From").val());
                    var date2 = +new Date($("#To").val());
                    if (date1 > date2) {
                        IsValid = false;
                        alert("From Date Start Must Be Less than To");
                    }
                }
            }
        });
    });
</script>